.header {
    background: var(--gray-800);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1.25rem 0;
}

.header img {
    height: 2rem;
}

@media (prefers-color-scheme: light) {
    .header {
      background: var(--neutral);
    }
  }