.task {
  display: flex;
  flex-direction: column;
  width: 736px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding-bottom: 0.5rem;
}

.task div {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.75rem;
}

.task label {
  font-size: 1rem;
  color: var(--gray-100);
  cursor: pointer;
  width: 100%;
}

.task input[type='checkbox'] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.task input[type='checkbox']:hover {
  border-color: var(--blue-dark);
  
}

.task input[type='checkbox']:focus {
  box-shadow: none;
}

.task input[type='checkbox']:checked {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark); 
}

.task input[type='checkbox']:checked:hover {
  background-color: var(--purple);
  border-color: var(--purple); 
}

.task input[type='checkbox']:checked::after {
  content: "\2713";
  position: absolute;
  bottom: 16px;
  right: 15px;
  font-size: 1.75rem;
  color: var(--white);
  text-align: center;
  font-weight: bold;
  width: 5px;
  height: 10px;
}

.task input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task span {
  color: var(--gray-300);
  font-size: 0.75rem;
  margin: 0 .5rem 0 0;
  align-self: flex-end;
}

.task button {
  background: transparent;
  color: var(--gray-300);
  border: none;
  cursor: pointer;
}

.task svg {
  transition: color 0.2s;
}

.task svg:hover {
  color: var(--danger);
}



